body{

}
.title1{
	background-color: #4080ff;
	height:50px;
}
.titlep{
	background-color:#73a2ff; 
	width:70px;
}
.message{
	border-width: 1px;
	border-style: solid;
}
.TypeMessage{

}